    h5 {
      font-family: 'Times New Roman', Times, serif;
      color: azure;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        color: azure
    }
    body {
        background-image: url("https://cdn.wallpapersafari.com/17/96/qb1nJc.jpg");
        background-repeat: repeat-x repeat-y;
        background-position: right;
        background-clip: initial;
        background-color: #cccccc
    }
    #Foundation, #Famous-Members, 
#Exilation, #Goals, 
#French-Revolution, #Conspiracy,
#Conclusion{
    display: none;
}
    .hello{
        color: white;
    }
    .btn-info{
        color: white;
        border: none;
        background-color: #f44336;
        
    }

    .red-button{
        color: white;
        border: none;
        background-color: #f44336
    }

    .quiz-container{
        text-align: left;
    }

    #outer{
        width:100%;
        text-align: center;
    }

    .inner{
        display: inline-block;
    }

    .alt-button{
        color: white;
        border: none;
        background-color: #f44336
    }

    .alt-button:hover{
        background-color: #ccc
    }

    .suggestion-container{
        text-align: center;
    }

    .red-button:hover{
        background-color: #555555;
        color: white
    }

    .border{
        border:1px solid white;
    }
    
    .times{
        font-family: 'Times New Roman', Times, serif
    }
    .heading{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .splash-padding{
        padding-top: 40px;
    }

    .list-group-flush{
        padding: 0px;
    }

    .completed{
        background-color: black;
        color: white
    }

    .list-group-item:hover{
        background-color:red;
        cursor: pointer;
    }

    .disabled{
        color: #ccc !important;
    }

    ul{
        color: azure;
        font-family: 'Times New Roman', Times, serif
    }



    .subtext{
        display: none;
        padding-top: 10px;
        line-height: 1.5;
    }
    
    .subheading{
        color: lightcoral;
    }

    .text{
        color: azure
    }

    .body{
        font-family: Helvetica, sans-serif;
        letter-spacing: 1px;
        font-weight: 300;
    }

    .title {
      color: red;
    }

    .uppercase {
      text-transform: uppercase;
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
      
    .active, .collapsible:hover {
        background-color: black;
    }

    .collapsible:focus {
        background-color:black;
      }
      
    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: black;
    }
